.sign-in {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 5%;

    .title {
        margin: 10px 0;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
    }
}