.sign-in {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 5%;

    .sign-in-title {
        margin-bottom: 10px;
    }

    span {
        letter-spacing: 1px;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
    }
}