/* Variables */
$sub-color: #555;
$main-color: black;

/* mixin es un bloque de codigo reusable como una funcion */
@mixin shrinkLabel {
    top: -14px;
    font-size: 13px;
    color: $main-color;
}

.form-input {
    position: relative;
    margin: 45px 0;

    .input {
        background: none;
        background-color: white;
        color: $sub-color;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $sub-color;
        margin: 25px 0;

        &:focus {
            outline: none;
        }

        /* si el input se enfoca entonces el form-input-label... */
        &:focus ~ .form-input-label {
            @include shrinkLabel(); /* Usando el pedazo de codigo mixin */
        }
    }

    input[type='password'] {
        letter-spacing: 4px;
    }

    .form-input-label {
        color: $sub-color;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 300ms ease all;
        letter-spacing: 2px;

        &.shrink {
            @include shrinkLabel();
        }
    }
}