.sign-up {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;

    .sign-up-title {
        margin-bottom: 10px;
    }

    span {
        letter-spacing: 1px;
    }
}